/*******************
Variables
*******************/
$white: #fff;
$black: #000;
$gray: #878787;
$reactBlue: #60D7F8;

/********************
Styles Section
********************/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: $white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Sign in */
.login-form {
  background-color: $reactBlue;
  padding: 1em 0;
  text-align: right;
}
.sign-in-btn {
  display: inline-block;
  background-color: $gray;
  color: $white;  
  margin: 0;
  text-align: right;
  margin-right: 5%;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.sign-out {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
}

.sign-out-btn {
  margin-right: 5%;
  color: $white;
  margin-left: 15px;
  cursor: pointer;
}

/* checklists section */
.homepg-content-container {
  margin-top: 2%;
}

.create-btn {
  background-color: $reactBlue;
  color: $white;
  border: 2px solid $reactBlue;
  padding: 0.5em 1em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  &:hover {
      background: transparent;
      color: $reactBlue;
  }
}

.open-checklists {
    text-align: center;
    border: 2px solid $gray;

    h3 {
        margin: 0;
        padding: 0.5em 0;
        margin-bottom: 0.5em;
        border-bottom: 1px solid $black;
    }
}

/* animation */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
