/*******************
Variables
*******************/

$white: #fff;
$black: #000;
$gray: #878787;
$dark: #222222;
$reactBlue: #60D7F8;
$rale: 'Raleway',
sans-serif;
/********************
Styles Section
********************/

/* general section */

body,
html {
  font-family: $rale;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: $white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.not-loggedin {
  margin-top: 1em;
  text-align: center;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

/* Sign in */

.nav {
  background-color: $reactBlue;
  padding: 1em 0;
  .inner-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 0;
    li {
      a {
        padding: 0 0.5em;
        color: $white;
        text-shadow: 1px 1px 1px $black;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
}

.login-form {
  text-align: right;
}

.sign-in-btn {
  display: inline-block;
  background-color: $gray;
  color: $white;
  margin: 0;
  text-align: right;
  margin-right: 5%;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid $gray;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    text-decoration: none;
    color: $white;
    text-shadow: 1px 1px 3px $black;
  }
}

.sign-out {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
}

.sign-out-btn {
  margin-right: 5%;
  color: $white;
  margin-left: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $gray;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid $gray;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    text-decoration: none;
    color: $white;
    text-shadow: 1px 1px 3px $black;
  }
}

/* checklists section */

.homepg-section {
  margin: 2% 0;
  min-height: 50vh;
}

.create-checklists {
  h2 {
    margin: 0;
    padding: 0 0 1em 0;
    text-transform: capitalize;
  }
}

.create-btn {
  display: inline-block;
  background-color: $reactBlue;
  color: $white;
  border: 2px solid $reactBlue;
  padding: 0.5em 1em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: transparent;
    color: $reactBlue;
  }
}

/* checklist creation form */

.creation-title {
  padding: 0.5em;
  margin: 0;
  font-size: 2.3em;
}

.radio-fields-checklist {
  text-align: center;
  input {
    display: none;
  }
  label {
    width: 48%;
    padding: 2% 1.5%;
    margin: 1%;
    background-color: $dark;
    color: $reactBlue;
    cursor: pointer;
  }
  .active_btn {
    background-color: $reactBlue;
    color: $dark;
  }
}

.submitBtn {
  margin-top: 1em;
  display: inline-block;
  padding: 0.75em;
  border: 2px solid $reactBlue;
  color: $white;
  font-weight: bold;
  background-color: $reactBlue;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: transparent;
    color: $reactBlue;
  }
}

.open-checklists {
  text-align: center;
  border: 2px solid $gray;
  h3 {
    margin: 0;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $black;
  }
}

.hide {
  display: none;
}

/* Single view of each checklist */

.single-checklist-page-container {
  .inner-single-page {
    text-align: center;
    h2 {
      text-transform: capitalize;
      border-bottom: 4px solid $reactBlue;
      padding-bottom: 0.3em;
    }
  }
  .single-checklist-name,
  .single-checklist-type {
    display: inline-block;
    width: 80%;
    margin: 1%;
    padding: 0.5em 1em;
    text-align: center;
    background-color: $dark;
    color: $reactBlue;
    border-radius: 15px;
  }
  .checkbox-container {
    border-bottom: 2px solid $dark;
    position: relative;
    padding-top: 0.3em;
    input {
      display: inline-block;
      margin: 0.5em;
    }
    label {
      display: inline-block;
      margin: 0;
      padding: 0.5em 1em;
      border-left: 2px solid $dark;
    }
    button {
      position: absolute;
      right: 10px;
      bottom: 0;
      top: 0;
      margin: auto;
      background-color: red;
      color: $white;
      width: 25px;
      height: 25px;
      border-radius: 100px;
    }
  }
}

.submit-updates-btn {
  display: inline-block;
  background-color: $reactBlue;
  color: $white;
  border: 2px solid $reactBlue;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $reactBlue;
  }
}

.add-field-btn,
.add-field-btn:focus {
  display: inline-block;
  background: $reactBlue;
  color: $white;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid $reactBlue;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: transparent;
    color: $reactBlue;
  }
}

.save-new-field-container {
  .add-field-btn {
    margin-left: 0;
  }
}

/* Footer Section */

.footer {
  margin-top: 2%;
  padding: 0.5em 0;
  background-color: $reactBlue;
  color: $white;
  .social-media {
    a {
      color: $dark;
      font-size: 1.5em;
      margin: 0 0.45em;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $white;
      }
    }
  }
}

.after-footer {
  background-color: $dark;
  padding: 1em 0;
  text-align: right;
  p {
    color: $white;
    margin: 0;
    padding-right: 20px;
    a {
      color: $reactBlue;
    }
  }
}

/* Remove list section */
.remove-list-item {
  position: relative;
  border-bottom: 2px solid $dark;

  a {
    margin: 0;
    padding: 1em 0;
    color: $black;
    text-decoration: none;
    display: inline-block;
  }

  button {
    position: absolute;
    right: 10px;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: red;
    color: $white;
    width: 25px;
    height: 25px;
    border-radius: 100px;
  }
}

/* animation */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* responsive section */

@media screen and (min-width: 768px) {
  .single-checklist-page-container {
    .single-checklist-name,
    .single-checklist-type {
      width: 22%;
    }
  }
}